/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @bg;
    text-color:             @fg;
	font:				 	"CaskaydiaCove Nerd Font SemiLight 10";
}

window {
    width:      			210px;
    padding:    			25px;
    border:					2px;
    border-radius:          8px;
    border-color:           @mg;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@ac;
}
