@import "colors.rasi"

* {
    background-color:       @al;
    text-color:             @fg;
	font:				 	"Open Sans 10";
}

window {
    width:      			210px;
    padding:    			25px;
    border:					2px;
    border-radius:          8px;
    border-color:           @mg;
    location:               center;
    y-offset:               -84;
    x-offset:               450;
}

entry {
    expand: 				true;
    text-color:				@ac;
}
